<%= stylesheet_link_tag "main" %>
<%= form_with url: "/flights", method: :get, :html => {:class => "formsearch"} do |form| %>
  <div>
    <%= form.label :start, "Date: " %>
    <%= form.date_select :start %>
  </div>
  
  <div>
      <%= form.label :arrival_airport, "Arrival Airport: " %>
    <%= form.collection_select :arrival_airport, Airport.all, :id, :code %>
  </div>
  
  <div>
     <%= form.label :departure_airport, "Departing Airport: " %>
    <%= form.collection_select :departure_airport, Airport.all, :id, :code%>
  </div>
 
  
  <div>
    <%= form.label :passengers, "Passengers: "%>
    <%= form.select :passengers, [1,2,3,4]%>
  </div>

  <%= form.submit "Search"%>
<% end %>
<% @flights.each do |flight| %>
    <h2>Flight ID <%= flight.id%></h2>
    <p><%= flight.duration%></p>
<% end %>